<div class="container">
  <h1>Species</h1>

  <ul>
    <% @species_all.each do |species| %>
      <li><a href="/species/<%= species.id %>"><%= species.name %></a> | <a href="/species/<%= species.id %>/edit">Edit</a>
        | <a href="/species/<%= species.id %>" data-confirm="Are you sure?" data-method="delete" rel="nofollow">Delete</a></li>
    <% end %>
  </ul>

  <p><a href="/species/new">Add a New Species</a></p>
  <p><a href="/sightings/">Move to Sightings Menu</a></p>
  <p><a href="/regions/">Move to Regions Menu</a></p>
</div>
